#wrapper {
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 1442px;
}

.divTable{
    padding: 20px 40px 0px 40px;
    background: linear-gradient(to bottom, #EBEBEB 0%, #F3F3F3 3%);
}

.divHeader{
    padding-left: 40px;
    padding-right: 40px;
    height: 96px;         
}

.divHeader div{
    margin: auto;            
}

.divHeader img{
    cursor: pointer;           
}

.tdStatus{
    color: #31BA1F;
    font-weight: bold;
}

#mytable th{
    font-size: 11.5px;
}

#mytable tr{
    font-size: 14px;
}

.tdCheck{
    text-align: center;
}

.btnPrincipal{
    -webkit-border-radius: 4px;        
    background-color: #D83367;
    padding: 12px 20px;
    color:  #ffffff;
    border-radius: 4px;
}

.btnSecundario{
    -webkit-border-radius: 4px;        
    background-color: #FAFAFA;
    padding: 12px 20px;
    color:  #A5A5A5;
    border-radius: 4px;
}

.divIcone img{
    margin-left: 25px;            
}

.divIconeEsquerda img{
    margin-right: 24px; 
}

.divHeader input[type="text"]{
    background: rgba(0, 0, 0, 0);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    width: 350px;
}

.divFooter{
    background-color: #333333;
    bottom: 0px;
    position: fixed;
    width: 100%;
    height: 40px;
    max-width: 1442px;
}

.divFooter div{
    padding-top: 4px;
}

.noAr{
    color: #FF8700; 
    background-image: url('../image/bg_no_ar.png'); 
    background-repeat: no-repeat;
}

.campoFiltro{
    text-align: left;
    font-weight: 600;
    color: #D83367;
    padding-bottom: 30px;
}

.campoFiltro img{
    padding-right: 10px;
}

@media screen and (max-width: 1300px) {
    .campoPesquisa {
        margin-left: 0px !important;
    }
}

@media screen and (max-width: 2000px){
    .campoPesquisa {
        margin-left: -100px;
    }
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 490px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 35px 25px 35px 25px;
}
    
/*Right*/
.modal.right.fade .modal-dialog {
    right: opx;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-body {
    /*background-color: #FAFAFA;*/
    background: linear-gradient(to bottom, #EBEBEB 0%, #F3F3F3 3%);
}

.modal-body button{
    width: 100%;
    color: #d8336791;
    border: 1px solid #d8336791;
}

/* ----- v CAN BE DELETED v ----- */
body {
background-color: #78909C;
}
